.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: transparent
    radial-gradient(closest-side at 50% 50%, #58687e 0%, #39495e 100%) 0% 0%
    no-repeat padding-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
